<div class=" info-empresa">
    <div class="row">
        <div class="col-md-12 col-xs-10 info">
            <p><span>HUB</span><span>CLEAN</span> es una empresa que tiene su norte en la gestión de equipos de sanitización y limpieza, dando foco en el recurso humano, desde la dignificación de la labor realizada a la significancia de esta para procesos
                de recuperación integral, todo desde el valor que tiene para nosotros ayudar a la correcta entrega de la cadena de valor de nuestros clientes. Buscamos generar un ecosistema equilibrado en los espacios donde elaboramos nuestra propuesta,es
                nuestra misión generar equipos consolidados que generen relación a largo plazo con nuestros clientes, sabemos la importancia de un clima laboral óptimo para la eficiente entrega de la gestión comprometida, y un eficaz canal de comunicación
                entre las partes comprometidas para el logro de procesos integrales.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-10 info">
            <h3>Misión</h3>
            <p>Prestar servicios de limpieza clínica de excelencia, con Cleaners apasionados por su trabajo, que aportan a crear espacios integrales de recuperación de pacientes, centrados en las relaciones humanas y en el bienestar integral.</p>
        </div>
        <div class="col-md-6 col-xs-10 info">
            <h3>Visión</h3>
            <p>
                Resignificar el servicio de limpieza clínica, poniendo en el centro de nuestro quehacer el valor de las relaciones humanas y la dignificación de los espacios.
            </p>
        </div>
    </div>
</div>