<footer class="footer">
    <div class="contenido">
        <p><span>HUB</span><span>CLEAN</span>, es una empresa única en su ecosistema,que lidera su propuesta en una eficiente y comprometida gestión de personas, que parte desde la inducción en busca del valor y significancia de la labor realizada por parte
            de nuestros colaboradores al desarollo eficiente y comprometido de nuestra propuesta,sabemos que nuestro trato será un compromiso y nuestra gestión la forma de desarollarlo,trabajamos con personas,sabemos de lo multidimensional de la propuesta
            y para ello tenemos un equipo multidisciplinar altamente comprometido,los invito a conocer la experiencia CLEANPLUS.</p>
    </div>
    <div class="copy">
        <img src="assets/img/HUBCLEAN.png" alt="">
        <span>Copyright &copy; 2022</span>
    </div>


</footer>